/* Base style for all menu buttons */

.menu-stack-button {
    -fx-cursor: hand;
}

.menu-stack-button.menu-button-unselected Rectangle {
    -fx-fill: linear-gradient(to bottom, #f4b942, #ffe484);
    -fx-stroke: #bc6565;
}

.menu-stack-button.menu-button-selected Rectangle {
    -fx-fill: linear-gradient(to bottom, #bc6565, #e57373);
    -fx-stroke: #f4b942;
}

.menu-stack-button.menu-button-unselected Label {
    -fx-text-fill: #bc6565;
}

.menu-stack-button.menu-button-selected Label {
    -fx-text-fill: #f4b942;
}

/* Hover effect */
.menu-stack-button.menu-button-unselected:hover Rectangle {
    -fx-fill: linear-gradient(to bottom, #ffe484, #f4b942);
}

/*.menu-stack-button.menu-button-selected:hover Rectangle {
    -fx-fill: linear-gradient(to bottom, #e57373, #bc6565);
}*/